<!DOCTYPE html>
<html>
    <head>
        <title>환율</title>
    </head>
    <body>
       <table>
            <thead>
                <tr>
                    <th>국가명</th>
                    <th>환율(/1원)</th>
                </tr>
            </thead>
            <tbody>
                {% for country in t %}
                <tr>
                    <td>{{ country['name_unit'].split()[0] }}</td>
                    <td>{{ country["rate"] }} {{country['name_unit'].split()[1]}}</td>
                </tr>
                {% endfor %}
                <td>총 {{ k }} 개</td>
            </tbody>
        </table>
    </body>
</html>