header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

body{
    margin-right: auto;
    margin-left: auto;
    width:60%;
}

.font-nanum-Gothic{
    font-family: 'Nanum Gothic', sans-serif;
}

.font-nanum-Myeongjo{
    font-family: 'Nanum Myeongjo', serif;
}
