<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <a v-if="flag">하와와</a>
      <ul>
        <li v-for="system in systems">{{system}}</li>
      </ul>
      <p v-show="flag">하와와</p>
      <h5 v-bind:id="uid">디렉티브</h5>
      <button v-on:click="popUp">팝업</button>
      <p><input type="text" v-model="text"></p>
      <p>{{text}}</p>
    </div>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const app = new Vue({
        data:{
          flag:true,
          systems:['an','ro','id'],
          uid:10,
          text:""
        },
        methods:{
          popUp:function(){
            this.flag=!this.flag
            return alert('호잇!');
          }
        }
      }).$mount("#app");
    </script>
  </body>
</html>
